
<ion-content class="ion-padding">
  <app-header title="Currency Conversion" redirect="home"></app-header>
  <app-custom-select
  [options]="currencyOptions"
  (newItemEvent)="handleCustomInput($event,'from')"
  inputName="From"
  ></app-custom-select>

  <app-custom-select
  [options]="currencyOptions"
  (newItemEvent)="handleCustomInput($event,'to')"
  inputName="To"
  ></app-custom-select>

  <app-custom-input
  [limit]="limitPrecision"
  (newItemEvent)="handleCustomInput($event,'precision')"
  inputName="Precision"
  ></app-custom-input>

  <app-custom-input
  [limit]="limitAmount"
  (newItemEvent)="handleCustomInput($event,'amount')"
  inputName="Amount"
  ></app-custom-input>

  <div class = "submitBtn">
    <app-custom-button text="Submit" (click)="submitForm()"></app-custom-button>
  </div>

  <div class="amountFormatted">
    <ion-text > ${{getAmount()}}</ion-text>
  </div>

</ion-content>
