.custom-button > ion-row {
  margin-top: 4%;
  margin-bottom: 6%;
}

.custom-button > ion-row {
  text-align: center;
}

.custom-button {
  height: 80px;
  min-height: 80px;
}

.custom-button > ion-icon {
  height: 100%;
}

.custom-button > ion-text {
  height: 100%;
}

.custom-button > .text-button {
  font-size: 20pc;
}

.text-col {
  text-align: center;
  padding-top: 3.6%;
}

.icon-col {
  padding-right: 5%;
  padding-left: 0;
  margin-left: 0;
}

