
<ion-content>
  <app-header title="Snapshot Details" redirect="home"></app-header>

    <div class="card">
      <ion-row class="title">
        <ion-text><strong>{{snapshotItemCopy.title}}</strong></ion-text>
      </ion-row>


      <ion-row class="logo-row">
        <img src="{{imageLink}}"/>
      </ion-row>

      <ion-row class="price">
          <ion-text>{{snapshotItemCopy.close}}</ion-text>
      </ion-row>
    </div>

    <app-data-grid [data]="gridData"></app-data-grid>

</ion-content>
