<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col id="services">

        <ion-row>
          <ion-col>
            <app-custom-button
            icon="bar-chart"
              text="Stocks"
            (click)="navigate('stocks')"
            ></app-custom-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <app-custom-button
            icon="cash"
            text="Currency Conversion"
            (click)="navigate('currency')"
            ></app-custom-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <app-custom-button
            icon="logo-bitcoin"
            text="Crypto Conversion"
            (click)="navigate('crypto')"
            ></app-custom-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
            <app-custom-button
            icon="save"
            text="Snapshot"
            ></app-custom-button>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>

    <ion-row class="logo">
      <ion-col offset-lg size="6" offset="3" no-padding>
        <ion-img [src]=[logoSrc]></ion-img>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
