
<ion-content>
  <app-header title="Stocks" redirect="home"></app-header>
    <ion-row class="select-line">
      <ion-col>
        <ion-item>
          <ion-label position="floating">Data</ion-label>
          <ion-datetime (ionChange)="registerDate()" [(ngModel)]="datePicker" min="2000-01-01" max={{yesterday}} displayFormat="DD/MM/YYYY" ></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col id="ticker-select">
        <ion-item>
          <ion-label position="floating">Ticker</ion-label>
          <ion-select [(ngModel)]="selectedTicker" interface="popover">
            <ion-select-option *ngFor="let option of stockOptions" value={{option}}>{{option}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="3" id="button">
        <ion-button (click)="fetchStock()">
          <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>



    <div *ngIf="!firstFetch && !searchError && !fetching" class="card">
      <ion-button  class="snapshotButton" (click)="submitSnapshot(); showToast()">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>

      <ion-row class="title">
        <ion-text><strong>{{title}}</strong></ion-text>
      </ion-row>

      <ion-row class="subtitle">
        <ion-text>{{corpName}}</ion-text>
      </ion-row>

      <ion-row class="logo-row">
        <img [src]="imageLink"/>
      </ion-row>

      <ion-row class="price">
          <ion-text>${{dayStats.close}}</ion-text>
      </ion-row>
    </div>

    <app-data-grid *ngIf="!firstFetch && !searchError && !fetching" [data]="dayStats"></app-data-grid>

    <app-error-box *ngIf="searchError" [message]="errorMessage"></app-error-box>

</ion-content>
