.select-line {
  align-items: center;
  height: fit-content;
  width: 100%;
}

#button {
  height: 10%;
  width: min-content;
  text-align: center;
  margin-bottom: 0;
  padding-top: 8%;
  padding-bottom: 0;
  padding-right: 0;
}

#ticker-select {
  padding-bottom: 0;
  width: fit-content;
}
.card {
  margin-top: 8%;
  margin-bottom: 8%;
}

.title {
  font-size: 20pt;
  padding-bottom: 4px;
  padding-top: 4px;
  margin-left: 5%;
}

.subtitle {
  font-size: 14pt;
  color: rgb(48, 48, 48);
  margin-left: 5%;
}

.logo-row {
  width: 100%;
  margin-top: 6%;
  margin-bottom: 6%;
}

.logo-row > img {
  margin: auto;
}

.price {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 3.7rem;
}

.snapshotButton{
  padding-left: 81%;


}

.toast-message{
  text-align: center;
}
